<div class="messages">
    <div class="wrap" v-el="messages">
        <div class="message" v-repeat="messages[channel]">
            <span><a href="#" v-on="click: openProfile($event, name, id)">{{ name }}</a>:</span>{{ text }}
        </div>
    </div>
</div>
<ul class="channel-picker">
    <li v-repeat="channels" v-on="click: toggleChannel($value)" v-class="current: currentChannel($value), unseen: unseen[$value]">
        {{ $value | capitalize }}
    </li>
</ul>
<div class="chat-menu">
    <div class="form">
        <input placeholder="Your message" type="text" class="message" v-on="keyup: sendMessage | key 'enter'" v-model="message"/>
    </div>
    <div class="send" v-on="click: sendMessage">Send</div>
</div>
