<div class="billboard-chain-left"></div>
<div class="billboard-chain-right"></div>
<div class="billboard"></div>
<div class="billboard-shadow"></div>
<div class="billboard-sign"></div>
<div class="frame-wrapper">
    <div class="loader" v-show="!site">
        <div class="ball"></div>
        <p>LOADING MAP</p>
    </div>

    <span v-if="site">
        <iframe src="{{ site.url }}"></iframe>
    </span>

</div>
<character v-el="character" v-if="site" movable="true" name="{{ name }}" on-move="{{ moveCharacter }}" current-state="{{@ state }}"></character>
<div class="characters">
    <span v-repeat="c: characters"><character set-state="{{ c.state }}" on-create="{{ createCharacter }}" name="{{ c.n }}" v-if="site" char-id="{{ c.i }}"></character></span>
</div>
<div class="items" v-if="site">
    <span v-repeat="item: site.items | removeFoundItems" style="left: {{ item.left }}px"><img v-attr="src: item.icon" /></span>
</div>
