<billboard></billboard>

<div class="billboard-content map">
    <div class="loader" v-show="!site || !siteLoaded">
        <div class="ball"></div>
        <p>LOADING MAP</p>
    </div>

    <span v-if="site">
        <iframe v-show="siteLoaded" v-on="load: loadedSite" src="{{ site.url }}" sandbox="allow-forms allow-scripts allow-popups"></iframe>
    </span>

</div>

<div v-if="site && siteLoaded">
    <div class="characters">
        <span v-repeat="c: characters"><character v-on="click: openProfile(c)" set-state="{{ c.state }}" on-create="{{ createCharacter }}" name="{{ c.n }}" message="{{ c.message }}" v-if="site" char-id="{{ c.i }}"></character></span>
    </div>
    <character v-el="character" highlight="true" movable="true" name="{{ name }}" message="{{ message }}" on-move="{{ moveCharacter }}" current-state="{{@ state }}"></character>
    <div class="items">
        <span v-repeat="item: site.items | removeFoundItems" style="left: {{ item.left }}px"><img v-attr="src: item.icon" /></span>
    </div>
</div>
