<div class="profile" v-on="mousedown: startMove($event)">
    <div class="close">x</div>
    <p class=name>Daniel Heyman</p>
    <div class="messages">
        <div class="left">
            <div class="message">Actually I'll probably have to leave before you make it.</div>
            <div class="info">Nov 11, 11:22 AM</div>
        </div>
        <div class="right">
            <div class="message">Thanks dude, I appreciate all your help.</div>
            <div class="info">Nov 11, 11:22 AM</div>
        </div>
        <div class="left">
            <div class="message">Actually I'll probably have to leave before you make it.</div>
            <div class="info">Nov 11, 11:22 AM</div>
        </div>
        <div class="left">
            <div class="message">Actually I'll probably have to leave before you make it.</div>
            <div class="info">Nov 11, 11:22 AM</div>
        </div>
        <div class="right">
            <div class="message">Thanks dude, I appreciate all your help.</div>
            <div class="info">Nov 11, 11:22 AM</div>
        </div>
    </div>
    <div class="form">
        <input type="text" placeholder="Type a message...">
        <div class="submit">Send</div>
    </div>
</div>
