<billboard></billboard>

<div class="billboard-content">
    <div class="loader" v-show="!teams">
        <div class="ball"></div>
        <p>LOADING TEAMS</p>
    </div>

    <div v-el="content" class="content" v-show="teams">
        <h1>TEAMS</h1>

        <span v-if="!viewTeam.active">
            <div class="panel panel-default" v-if="!newTeam.active">
                <div class="panel-body">
                    <h4>Teams are pretty snazzy, but what are they exactly?</h4>
                    <ul>
                        <li>Joining a team puts you at a great advantage.</li>
                        <li>All coins and other materials will be shared among the team.</li>
                        <li>The team will always be surfing together, as you will always be spawned on the same map.</li>
                        <li>While a human, you will be sharing and building upon a mutual house.</li>
                        <li>A maximum of four players per team.</li>
                        <li>Good luck and fight together!</li>
                    </ul>

                    <h4>Warnings</h4>
                    <ul>
                        <li>Join a team and all your coins and materials will be transfered to the team supplies.</li>
                        <li>Should you choose to leave a team, you will have to start over without any supplies.</li>
                        <li>While a human, leaving a team will force you to build a new house.</li>
                        <li>Can be very addicting :)</li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default" v-if="newTeam.active">
                <div class="panel-body">
                    <h4>Before creating a team, be aware of the following:</h4>
                    <ul>
                        <li>All coins and other materials will be shared among the team.</li>
                        <li>While a human, you will be sharing and building upon a mutual house.</li>
                        <li>As the creator, any house you own will carry over.</li>
                        <li>Should you choose to destroy the team, you will have to start over without any supplies.</li>
                        <li>While a human, destroying the team will force you to build a new house.</li>
                    </ul>
                </div>
            </div>

            <table class="table table-striped" v-if="!newTeam.active">
                <thead>
                    <tr>
                        <th>Team Name</th>
                        <th># of Players</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="myTeam">
                        <td>{{ myTeam.name }} (Member)</td>
                        <td>{{ myTeam.user_count }} of 4</td>
                        <td><a href="#" v-on="click: openTeam($event, myTeam)">More info</a></td>
                    </tr>
                    <tr v-repeat="team: teams | notMine">
                        <td>{{ team.name }}</td>
                        <td>{{ team.user_count }} of 4</td>
                        <td><a href="#" v-on="click: openTeam($event, team)">More info</a></td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="btn btn-primary right" v-on="click: createTeam" v-show="!myTeam && !newTeam.active">Create a Team</button>

            <div class="panel panel-default" v-show="newTeam.active">
                <div class="panel-body">
                    <div class="loader-inner" v-show="newTeam.posting">
                        <div class="ball"></div>
                        <p>ADDING SITE</p>
                    </div>

                    <div v-show="!newTeam.posting">
                        <div class="form-group">
                            <label for="teamName">Team Name:</label>
                            <input type="text" class="form-control" v-model="newTeam.name" v-validate="minLength: 2">
                            <small class="text-danger" v-if="newTeam.name && validation.newTeam.name.minLength">Name is too short</small>
                        </div>

                        <div class="form-group">
                            <label for="siteUrl">Team Descripion:</label>
                            <textarea type="text" class="form-control" v-model="newTeam.description"></textarea>
                        </div>

                        <button type="button" class="btn btn-primary margin-right" v-if="valid" v-on="click: confirmCreate">Create Team</button>
                        <button type="button" class="btn btn-default" v-on="click: cancelCreate">Cancel</button>
                    </div>
                </div>
            </div>

        </span>

        <div class="panel panel-default" v-show="viewTeam.active && !viewTeam.destroy && !viewTeam.leave">
            <div class="panel-body">
                <div class="loader-inner" v-show="!viewTeam.data || viewTeam.loadingMessage">
                    <div class="ball"></div>
                    <p>{{ viewTeam.loadingMessage ? viewTeam.loadingMessage : 'LOADING TEAM' }}</p>
                </div>

                <div v-if="viewTeam.data && !viewTeam.loadingMessage">
                    <h4>
                        {{ viewTeam.data.team.name }}:
                        <span v-if="viewTeam.data.team.member">
                            <span v-if="!isOwner()">
                                You're a member. (<a href="#" v-on="click: leaveTeam($event)">Leave Team</a>)
                            </span>
                            <span v-if="isOwner()">
                                You're the owner. (<a href="#" v-on="click: destroyTeam($event)">Destroy Team</a>)
                            </span>
                        </span>
                        <span v-if="!viewTeam.data.team.member">
                            Not yet a member. (<a href="#">Join Team</a>)
                        </span>
                    </h4>
                    <br>

                    <span v-if="viewTeam.data.team.description"> <p>{{ viewTeam.data.team.description }}</p><br> </span>


                    <button type="button" class="btn btn-default" v-on="click: backToList">Go Back</button>
                    <br><br>

                    <h4>Members:</h4>
                    <div class="media" v-repeat="user: viewTeam.data.users">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="http://www.gravatar.com/avatar/{{ user.gravatar }}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ user.name }}</h4>
                            {{ user.id == viewTeam.data.team.owner_id ? 'Team Founder' : ''}}
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="alert alert-danger" role="alert" v-if="viewTeam.leave">
              <p>Caution! Are you sure you want to leave team '{{ viewTeam.data.team.name }}'? </p>
              <p>Doing so will force you to start over.</p>
              <p>You will lose all your items, coins, and house.</p>
              <br>
              <button type="button" class="btn btn-danger margin-right" v-on="click: confirmLeave">Yes, Leave Team</button>
              <button type="button" class="btn btn-default" v-on="click: cancelLeave">Cancel</button>
        </div>

        <div class="alert alert-danger" role="alert" v-if="viewTeam.destroy">
              <p>Caution! Are you sure you want to destroy team '{{ viewTeam.data.team.name }}'? </p>
              <p>Doing so will force all the team members, including you, to start over.</p>
              <p>You will all lose your items, coins, and house.</p>
              <br>
              <button type="button" class="btn btn-danger margin-right" v-on="click: confirmDestroy">Yes, Destroy Me</button>
              <button type="button" class="btn btn-default" v-on="click: cancelDestroy">Cancel</button>
        </div>


    </div>
</div>
