body,
html {
    height: 100%;
}

body {
    margin: 0;
    font-size: 14px;
    font-family: Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.bg {
    background: url("../../img/surf/bg.jpg") center;
    background-size: cover;
}

.top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 180px;
    left: 0;
    z-index: 1;
}

.bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    height: 180px;
}

.small-footer {
    .top {
        bottom: 130px;
    }

    .bottom {
        height: 130px;
    }

    .footer .chat-menu {
        display: none;
    }
}

.billboard-chain-left,
.billboard-chain-right {
    position: absolute;
    top: 0;
    width: 28px;
    height: 49px;
    background: url("../../img/surf/bill-chain.png");
}

.billboard-chain-left {
    left: 10%;
}

.billboard-chain-right {
    right: 10%;
}

.billboard-sign {
    position: absolute;
    top: 30px;
    left: 5%;
    z-index: 1;
    margin-left: -45px;
    width: 85px;
    height: 85px;
    background: url("../../img/surf/bill-sign.png");
}

.billboard,
.billboard-shadow,
.billboard-content {
    position: absolute;
    top: 49px;
    right: 5%;
    bottom: 19px;
    left: 5%;
    overflow: auto;
    margin-bottom: 50px;
    width: 90%;
    border-radius: 5px;
}

.billboard-shadow {
    border-radius: 5px;
    box-shadow: inset 0 0 43px #000;
}

.billboard {
    background: url('../../img/surf/bill-bg2.jpg'), url("../../img/surf/bill-bg.jpg");

    background-blend-mode: overlay;
}

.billboard-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    background: #DCDCDC;
}

.billboard-content.map {
    padding: 20px 20px 0;
    background: none;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 10px #000;
}

.footer-fence {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 49px;
    background: url("../../img/surf/footer-fence.png");
}

.notifications {
    position: absolute;
    right: 10px;
    bottom: 20px;
    z-index: 10;
    overflow: auto;
    border-radius: 5px;

    .notification {
        float: right;
        clear: right;
        margin-bottom: 5px;
        padding: 5px;
        border: 1px solid #333;
        border-radius: 5px;
        background: rgba(0, 0, 0, .5);
        color: #baa166;
        font-size: bigger;
        line-height: 18px;

        span {
            color: #fff;
        }
    }
}

.character {
    position: absolute;
    bottom: 5px;
    left: 5%;

    .name {
        position: absolute;
        bottom: -13px;
        z-index: 3;
        display: inline-block;
        width: 100%;
        text-align: center;

        span {
            display: inline-block;
            padding: 0 5px;
            border-radius: 3px;
            background: #816a48;
            color: #fff;
            line-height: 18px;

            &.highlight {
                background: #006888;
            }
        }
    }

    .message {
        position: absolute;
        bottom: 90%;
        z-index: 3;
        display: inline-block;
        width: 100%;
        text-align: center;

        span {
            position: relative;
            display: inline-block;
            margin-bottom: 3px;
            padding: 4px;
            max-width: 100%;
            border-radius: 3px;
            background: #006888;
            box-shadow: 0 0 8px #000;
            color: #fff;
            word-wrap: break-word;

            &:after {
                position: absolute;
                bottom: -6px;
                left: 50%;
                margin-left: -5px;
                border: solid;
                border-width: 6px 6px 0;
                border-color: #006888 transparent;
                content: '';
            }
        }
    }
}

.human {
    max-width: 110px;
    width: 110px;
    height: 110px;
}

.footer {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: url("../../img/surf/footer-bg2.png"), url("../../img/surf/footer-bg.jpg");
    background-position: 0;
    box-shadow: 0 -10px 80px 50px #000;

    .left {
        float: left;
        margin: 0;
        padding: 0;
        width: 600px;
    }

    .right {
        float: left;
        margin: 0;
        padding: 0 0 0 5px;
        width: 600px;
    }

    .inner {
        margin: 10px auto auto;
        width: 1200px;
    }

    .messages {
        padding: 5px 10px;
        height: 90px;
        border: 1px solid #231b0f;
        border-radius: 5px;
        background: #000;

        .wrap {
            overflow: auto;
            max-height: 100%;
        }

        .message {
            color: #baa166;
            line-height: 18px;

            span {
                margin-right: 5px;
                color: #fff;

                a {
                    color: #fff;
                }

                a:hover {
                    color: #337ab7;
                }
            }
        }
    }

    .online {
        margin-right: 5px;
        color: #baa166;
        text-align: right;
        text-transform: uppercase;
        line-height: 18px;
        cursor: pointer;
        
        span.blink {
            -webkit-animation: online-blink 1s step-end infinite;
            -moz-animation: online-blink 1s step-end infinite;
            -ms-animation: online-blink 1s step-end infinite;
            animation: online-blink 1s step-end infinite;
        }

        span.online {
            color: #fff;
        }
    }

    .channel-picker {
        margin: 5px 0 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            margin-right: 8px;
            width: 75px;
            border-radius: 3px;
            background: url("../../img/surf/send-button.png");
            background-size: 100% 100%;
            color: #896d48;
            text-align: center;

            &.current {
                background: linear-gradient(rgba(50, 128, 115, 0.3), rgba(50, 61, 128, 0.3)), url("../../img/surf/send-button.png");
                background-size: 100% 100%;
            }

            &.unseen {
                background-size: 100% 100%;
                -webkit-animation: channel-blink 1s step-end infinite;
                -moz-animation: channel-blink 1s step-end infinite;
                -ms-animation: channel-blink 1s step-end infinite;
                animation: channel-blink 1s step-end infinite;
            }

            &:not(.current) {
                cursor: pointer;
            }

            &:not(.current):hover {
                background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url("../../img/surf/send-button.png");
                background-size: 100% 100%;
            }
        }
    }

    .chat-menu {
        margin-top: 6px;

        .form {
            float: left;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 7px 8px;
            width: 510px;
            height: 42px;
            background: url("../../img/surf/message-form.png");
            background-size: 100% 100%;

            .message {
                display: inline-block;
                padding-top: 2px;
                padding-left: 10px;
                width: 100%;
                height: 28px;
                outline: 0;
                border: 0;
                border-radius: 3px;
                background: #161414;
                box-shadow: inset 2px 2px 6px #000;
                color: #896d48;

                &::-webkit-input-placeholder { color:#896d48; }
                &::-moz-placeholder { color:#896d48; }
                &:-ms-input-placeholder { color:#896d48; }
                &:-moz-placeholder { color:#896d48; }
            }
        }

        .send {
            float: right;
            width: 80px;
            height: 42px;
            background: url("../../img/surf/send-button.png");
            background-size: 100% 100%;
            color: #896d48;
            text-align: center;
            line-height: 42px;
            cursor: pointer;

            &:hover {
                background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url("../../img/surf/send-button.png");
            }
        }
    }
}



@keyframes online-blink {
	0% {color: #fff;}
	50% {color: rgb(138, 36, 36);}
}

@keyframes channel-blink {
	0% {background: linear-gradient(rgba(138, 36, 36, .3), rgba(138, 36, 36, .3)), url("../../img/surf/send-button.png");}
	50% {background: linear-gradient(rgba(138, 36, 36, .6), rgba(138, 36, 36, .6)), url("../../img/surf/send-button.png");}
}

.loader-big {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #afa09f;

    .loader p {
        font-size: 30px;
    }
}

.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 50px;
    text-align: center;
}

.loader p, .loader-inline p {
    color: #fff;
    letter-spacing: 3px;
    font-size: 15px;
    font-family: sans-serif;
}

.loader .ball, .loader-inline .ball {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    content: "";
    -webkit-animation: motion 3s cubic-bezier(.77, 0, .175, 1) infinite;
    animation: motion 3s cubic-bezier(.77, 0, .175, 1) infinite;
}

.loader-inline, .loader-dark {
    p {
        color: #333;
    }

    .ball {
        background-color: #333;
    }
}

.loader-inline {
    margin: auto;
    height: 50px;
    text-align: center;
}

@-webkit-keyframes motion {
    0% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
    }

    25% {
        -webkit-transform: translateX(-50px) scale(.3);
        transform: translateX(-50px) scale(.3);
    }

    50% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
    }

    75% {
        -webkit-transform: translateX(50px) scale(.3);
        transform: translateX(50px) scale(.3);
    }

    100% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
    }
}

@keyframes motion {
    0% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
    }

    25% {
        -webkit-transform: translateX(-50px) scale(.3);
        transform: translateX(-50px) scale(.3);
    }

    50% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
    }

    75% {
        -webkit-transform: translateX(50px) scale(.3);
        transform: translateX(50px) scale(.3);
    }

    100% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
    }
}

.billboard-title {
    position: fixed;
    top: 3px;
    width: 100%;
    color: #ececec;
    text-align: center;
    letter-spacing: 3px;
    font-size: 30px;
}

.content .table {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 0 5px #606060;
}

.content .panel, .content .alert {
    box-shadow: 0 0 10px -3px #606060;
}

.content .table-striped > tbody > tr:nth-of-type(even) {
    background: #eee;
}

.content .table-striped > thead > tr {
    background: #adadad;
}

.content .billboard-content {
    overflow: auto;
    margin-top: 40px;
    margin-bottom: 90px;
    padding-top: 0;
}

.right {
    float: right;
}

.margin-right {
    margin-right: 10px;
}

.map-view .items {
    position: absolute;
    bottom: 20px;
    z-index: 10;

    span {
        position: absolute;
        bottom: 0;
        display: inline-block;
    }

    span::after {
        position: absolute;
        bottom: -10px;
        left: 12%;
        width: 76%;
        height: 8px;
        border-radius: 5px;
        background: #fff;
        content: '';
        -webkit-filter: blur(3px);
        -ms-filter: blur(3px);
        filter:blur(3px);

        -moz-filter: blur(3px);
        -o-filter: blur(3px);
    }

    img {
        margin-bottom: 15px;
        max-width: 25px;
        border-radius: 3px;
        -webkit-animation: item_float 0.7s infinite alternate linear;
        animation: item_float 0.7s infinite alternate linear;
    }
}

@-webkit-keyframes item_float {
    0% {
        margin-bottom: 12px;
    }

    100% {
        margin-bottom: 5px;
    }
}

@keyframes item_float {
    0% {
        margin-bottom: 12px;
    }

    100% {
        margin-bottom: 5px;
    }
}

.menu {
    display: table;
    padding: 4px 0 5px;
    width: 100%;
    border-radius: 3px;
    background: url("../../img/surf/menu.png");
    background-size: 100% 100%;
    list-style: none;

    li {
        display: table-cell;
        border-right: 2px solid #231f1c;
        color: #896d48;
        text-align: center;
        text-transform: uppercase;
        line-height: 35px;

        &:hover {
            background-color: rgba(0, 0, 0, .2);
            cursor: pointer;
        }

        &.coins {
            padding-right: 20px;
            border-right: 0;
            background-position: right;
            background-repeat: no-repeat;

            .count {
                color: #ccc;
            }

            &::after {
                position: absolute;
                display: inline-block;
                margin-top: -4px;
                margin-left: 8px;
                width: 40px;
                height: 32px;
                background: url("../../img/surf/coins.png");
                background-size: 100%;
                content: '';
            }
        }
    }
}

.hidden {
    display: none;
}

.profile {
    overflow: hidden;
    width: 400px;
    border-radius: 5px;
    background: #fff;

    .loader-inline {
        margin: 40px auto;
    }

    .close {
        position: absolute;
        top: 4px;
        right: 9px;
    }
    
    .name, .pic {
        cursor: pointer;        

        -webkit-touch-callout: none; 
        -webkit-user-select: none;   
        -khtml-user-select: none;    
        -moz-user-select: none;      
        -ms-user-select: none;       
        user-select: none;   
    }

    .pic {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
    }

    .name {
        margin: 0;
        height: 51px;
        border-bottom: 1px solid #ccc;
        background: #eee;
        text-align: center;
        font-weight: bold;
        font-size: 17px;
        line-height: 51px;
    }

    .no-messages {
        position: absolute;
        margin-top: 130px;
        width: 100%;
        text-align: center;
    }

    .messages {
        overflow: auto;
        padding: 10px;
        height: 300px;

        & > div {
            max-width: 75%;
        }

        .left {
            float: left;
            clear: both;

            .message {
                float: left;
            }

            .info {
                float: left;
                clear: both;
            }
        }

        .right {
            float: right;
            clear: both;

            .message {
                float: right;
                background: #0084FF;
                color: #fff;
            }

            .info {
                float: right;
                clear: both;
            }
        }

        .message {
            display: inline-block;
            padding: 4px 10px;
            border-radius: 10px;
            background: #eee;
        }

        .info {
            display: inline-block;
            margin-bottom: 10px;
            font-size: smaller;
        }
    }

    .form {
        border-top: 1px solid #ccc;

        input {
            float: left;
            margin: 0;
            padding: 5px 10px;
            width: 335px;
            height: 35px;
            outline: none;
            border: 0;
            border-radius: 0;
        }

        .submit {
            float: left;
            width: 65px;
            height: 35px;
            border-left: 1px solid #ccc;
            background: #eee;
            text-align: center;
            line-height: 30px;
            cursor: pointer;

            &:hover {
                background: #ddd;
            }
        }
    }
}
.footer .health-wrapper {
    margin-bottom: 10px;
    text-align: right;
    
    .health {
        display: inline-block; 
        overflow: hidden; 
        width: 50%; 
        border: 2px solid #3A3329; 
        border-radius: 5px; 
        
        .in {
            width: 30%; 
            background: #3A3329; 
            color: #ccc; 
            text-align: center;
            line-height: 20px; 
        }
    }
    
    .assign {
        display: inline-block;
        margin-left: 8px;
        padding: 0 10px;
        border-radius: 3px;
        background: url("../../img/surf/send-button.png");
        background-size: 100% 100%;
        color: #896d48;
        vertical-align: top;
        text-align: center;
        line-height: 24px;
        cursor: pointer;

        &:hover {
            background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url("../../img/surf/send-button.png");
            background-size: 100% 100%;
        }
    }
}
